body {
    background-color: beige;
    padding: 25px;
    height: 100%;
}

#grid {
    display: grid;
    grid-template-columns: 3fr 7fr;
    height: 100%;
}

/* styles for data section */

#data {
    grid-column: 1;
    border-top: 2px solid black;
    border-left:2px solid black;
    border-bottom:2px solid black;
    height: 100%;
    padding: 25px;
}

#input {
    padding: 10px;
    border: 2px solid black;
}

#navbar {
    position: -webkit-sticky;
    top: 0;
    height: 54px;
    display: block;
}

#navbar ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
}

#navbar li{
    float: left;
    font-size: 20px;
    display: block;
    padding: 14px 20px;
    border: 2px solid black;
    border-radius: 5px;
}

#navbar .active{
    background-color: white;
}

#navbar .inactive{
    background-color: darkgrey
}

#data .text.active {
    display: block;
    background-color: white;
}

#data .text {
    display: none;
}

#data .text-hidden {
    display: none;
}

.label {
    width:100%;
    height: 10%;
    padding: 5px;
    display: table;
}

.label span{
    display: table-row;
}

.label span .label-name {
    display: table-cell;
    width: 25%;
}

.label span .label-value {
    display: table-cell;
    width: 50%;
}

p, h4 {
    padding: 5px;
    margin: 0;
}

.button{
    padding-top: 10px;
    padding-bottom: 10px;
}

table{
    column-fill: inherit;
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th{
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    text-align: center;
}

td{
    font-size: 20px;
    text-align: center;
}

table td + td {
    border-left: 2px solid black;
}

#customize {
    border: 2px solid black;
    padding: 10px;
}

#bar-chart {
    grid-column: 2;
    border: 2px solid black;
    height: 100%;
    padding: 25px;
}